code/game/machinery/shredder
code/game/objects/items/stacks/sheets/sheet_types.dm
code/game/machinery/vending.dm
code/game/objects/items/stacks/sheets/sheet_types.dm
code/game/objects/items/stacks/sheets/sheet_types.dm
code/game/machinery/vending.dm